_build/
_apidoc/
_test_env/
_doc/
_report_dir/
gen/
/setup.data
/setup.log
/setup.ml
/ketrew
/ketrew-integration-test
/ketrew-test
/ketrew-workflow-examples-test
/ketrew_test
/_oasis
/.omakedb
/.omakedb.lock
/OMakeroot.omc
/tools/OMakeLibrary.omc
/_integration_test/
/ketrew-client-joo
/ketrew-dummy-plugin-user
/ketrew-preconfigured-test
/ketrew-synth-workflows
/ketrew-test-process-holding
/ketrew-workflow-examples
/.merlin
/.ocamlinit
