_build/
_apidoc/
_test_env/
_report_dir/
gen/
/.merlin
/.ocamlinit
/ketrew-dummy-plugin-user.byte
/ketrew-persistance-test.byte
/ketrew-preconfigured-main-test.byte
/ketrew-synth-workflows.byte
/ketrew-test.byte
/ketrew-workflow-examples.byte
/ketrew.byte
